@charset "UTF-8";
/* mobiles */
@media screen and (min-width: 320px) and (max-width: 767px) {
  body {
    font-family: "roboto", sans-serif;
  }
  #logo-restaurant img {
    width: 50%;
    margin-left: 25%;
    font-family: "Shrikhand", sans serif;
  }
  #presentation {
    display: none;
  }
  .explore {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
  }
  #first-para {
    font-size: 25px;
    text-align: center;
    font-weight: 900;
    width: 80%;
    margin-left: 10%;
  }
  #search {
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-family: FontAwesome, "Roboto", sans-serif;
    border: transparent;
    background-color: #e4d5f7;
    height: 40px;
  }
  #search::-moz-placeholder {
    color: black;
  }
  #search:-ms-input-placeholder {
    color: black;
  }
  #search::placeholder {
    color: black;
  }
  .new {
    position: absolute;
    color: green;
    background-color: rgb(12, 249, 12);
    left: 70%;
    top: 5%;
  }
  .p-dec {
    font-size: 15px;
    margin-left: 25px;
    position: relative;
    bottom: 20px;
  }
  .boutons-principaux {
    padding: 10px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 1px rgb(179, 179, 189);
    width: 70%;
    margin-left: 15%;
    position: relative;
    bottom: 20px;
  }
  .boutons-principaux:hover {
    background: #ebb8dd;
    cursor: pointer;
    box-shadow: 2px 2px #8a2be2;
  }
  .menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20%;
  }
  .menu button {
    border-radius: 20px;
    margin-bottom: 15px;
    height: 70px;
    font-weight: 900;
    border: 1px solid transparent;
    box-shadow: #575757;
    margin-left: 2%;
  }
  .menu button .fa-regular {
    position: relative;
    right: 40px;
    border: 1px solid transparent;
    padding: 4px;
    border-radius: 20px;
    background-color: #8a2be2;
    color: white;
  }
  .menu button .fa-regular i.fa-regular.fa-2 {
    right: 50px;
  }
  .menu button i.fa-regular.fa-2 {
    right: 50px;
  }
  .menu button .fa-list {
    position: relative;
    right: 30px;
    color: grey;
  }
  .menu button .fa-store {
    position: relative;
    right: 20px;
    color: #8a2be2;
  }
  .menu button .fa.fa-mobile-screen {
    position: relative;
    right: 20px;
    color: grey;
  }
  #bloc-photos-restau {
    background-color: rgb(240, 255, 250);
    margin-bottom: 20%;
  }
  #bloc-photos-restau a {
    text-decoration: none;
    color: black;
  }
  #bloc-photos-restau .box-image {
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow: 2px 2px rgb(189, 189, 206);
    position: relative;
    background-color: white;
  }
  #bloc-photos-restau .box-image .first-para-title {
    font-weight: 900;
  }
  #bloc-photos-restau p {
    height: 10px;
  }
  #bloc-photos-restau img {
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  #bloc-photos-restau button {
    position: relative;
    left: 80%;
    bottom: 50px;
    border-style: none;
    background-color: transparent;
  }
  #foot {
    background-color: #575757;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  #foot img {
    width: 40%;
    filter: opacity(1) drop-shadow(0 0 0 white) invert(100%);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #foot span {
    margin-left: 5px;
  }
  #foot span i.fa-solid {
    margin: 5px;
  }
  #foot #mentions {
    margin-left: 10px;
  }
  #foot a {
    text-decoration: none;
    color: white;
    margin-left: 5px;
  }
  /* pages restau */
  i.fa-solid.fa-arrow-left {
    color: black;
  }
  .logo-page-one {
    display: flex;
    flex-direction: row;
  }
  .div-img-pages-restau {
    height: 300px;
  }
  .div-img-pages-restau img {
    width: 100%;
    height: 100%;
  }
  hr {
    height: 1px;
    background-color: aqua;
    width: 10%;
    position: relative;
    right: 45%;
  }
  .description-menu {
    background-color: rgb(236, 246, 246);
    position: relative;
    bottom: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .description-menu h2 {
    padding-top: 5%;
    padding-left: 3%;
  }
  .description-menu .fa-regular {
    margin-left: 10%;
  }
  .description-menu .div-description-menu {
    background-color: white;
    border: 1px solid transparent;
    margin-bottom: 5%;
    border-radius: 20px;
    height: 80px;
    box-shadow: 2px 2px rgb(227, 244, 238);
  }
  .description-menu .div-description-menu .deuxieme-para {
    position: relative;
    bottom: 20%;
    font-size: 10px;
    width: 86%;
  }
  .description-menu .div-description-menu .para-description-menu {
    font-weight: 900;
  }
  .description-menu .div-description-menu .price {
    font-weight: 900;
    position: relative;
    left: 90%;
    bottom: 55px;
    width: 10%;
  }
  .divbouton {
    position: relative;
    bottom: 50px;
  }
}
/* tablette */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #presentation {
    font-size: 10px;
    font-weight: 900;
  }
  #first-para {
    text-align: center;
    font-size: 25px;
  }
  #p-dec {
    text-align: center;
    color: rgb(131, 124, 124);
  }
  #image-pages-restau {
    width: 100%;
  }
  #logo-restaurant {
    position: relative;
    left: 25%;
    width: 70%;
  }
  #formulaire #search {
    width: 100%;
    text-align: center;
    font-weight: 900;
  }
  #formulaire input::-moz-placeholder {
    color: black;
  }
  #formulaire input:-ms-input-placeholder {
    color: black;
  }
  #formulaire input::placeholder {
    color: black;
  }
  .explore {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 10%;
  }
  .new {
    display: none;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu button {
    border-radius: 20px;
    margin-bottom: 15px;
    height: 70px;
    font-weight: 900;
    border: 1px solid transparent;
    box-shadow: #575757;
  }
  .menu button .fa-regular {
    position: relative;
    right: 15px;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 20px;
  }
  .menu button .fa-list {
    position: relative;
    right: 10px;
    color: grey;
    color: #8a2be2;
  }
  .menu button .fa-store {
    position: relative;
    right: 10px;
    color: #8a2be2;
  }
  .menu button .fa.fa-mobile-screen {
    position: relative;
    right: 10px;
    color: grey;
    color: #8a2be2;
  }
  h2 {
    text-align: center;
  }
  .box-image img {
    height: 500px;
  }
  .box-image .first-para-title {
    font-weight: 900;
  }
  .description-menu {
    background-color: rgb(236, 246, 246);
    position: relative;
    bottom: 100px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .description-menu .fa-regular {
    position: relative;
    left: 10%;
  }
  .box-image {
    width: 90%;
    margin-left: 5%;
  }
  .box-image img {
    width: 100%;
    border-radius: 30px;
  }
  .box-image button {
    position: relative;
    left: 90%;
    bottom: 60px;
    border-style: none;
    background-color: transparent;
  }
  .box-image a {
    text-decoration: none;
    color: black;
  }
  .div-description-menu {
    background-color: white;
    border: 1px solid transparent;
    margin-bottom: 5%;
    border-radius: 20px;
    height: 80px;
    box-shadow: 2px 2px rgb(227, 244, 238);
  }
  .div-description-menu .price {
    width: 10%;
    position: relative;
    left: 90%;
    bottom: 40px;
  }
  .boutons-principaux {
    padding: 10px;
    border-radius: 20px;
    color: white;
    background-color: rgb(177, 122, 205);
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 1px rgb(179, 179, 189);
    margin-left: 10%;
    margin-right: 10%;
  }
  #foot {
    background-color: #575757;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  #foot img {
    width: 40%;
    filter: opacity(1) drop-shadow(0 0 0 white) invert(100%);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #foot span i.fa-solid {
    margin: 5px;
  }
  #foot a {
    text-decoration: none;
    color: white;
  }
  .divbouton {
    position: relative;
    bottom: 60px;
    text-align: center;
  }
}
/* écrans larges */
@media screen and (min-width: 1024px) {
  @-webkit-keyframes hide {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes hide {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  /*@keyframes loaderspinner { 
      0%{
       margin-left: 90%;
           }
           100%{

       }   
    }

    .container{
  position: fixed;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  background: white;
  z-index: 2;
  animation: hide 3s forwards 4s;



      & .bar{
  width: 200px;
  height: 25px;
  border: 3px solid #eaeaea;
  margin: 100px auto;
  border-radius: 7px;
  position: relative;
  background: rgba(255, 255, 255, 0.6);

  & :after{
    content: "chargement...";
    position: absolute;
    left: 25%;
    top: 150%;

  }

  & .sphere{
    display: block;
    width: 24px;
    height: 100%;
    background: #eaeaea;
    border-radius: 50%;
    animation: loaderspinner 3s infinite ease-in-out alternate;
  }
      }
    }*/
  #logo-restaurant {
    text-align: center;
  }
  #formulaire #search {
    width: 100%;
    text-align: center;
    font-weight: 900;
  }
  #formulaire input::-moz-placeholder {
    color: black;
  }
  #formulaire input:-ms-input-placeholder {
    color: black;
  }
  #formulaire input::placeholder {
    color: black;
  }
  #first-para {
    font-size: 40px;
    text-align: center;
  }
  .p-dec {
    text-align: center;
    font-size: 20px;
  }
  .boutons-principaux {
    padding: 10px;
    border-radius: 20px;
    color: white;
    background: linear-gradient(#FF79DA, #9356DC);
    border: 1px solid transparent;
    box-shadow: 1px 1px 1px 1px rgb(179, 179, 189);
    position: relative;
    left: 40%;
    width: 20%;
  }
  .boutons-principaux:hover {
    background: #ebb8dd;
    cursor: pointer;
    box-shadow: 2px 2px #8a2be2;
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .menu button {
    border-radius: 20px;
    margin-bottom: 15px;
    height: 70px;
    font-weight: 900;
    border: 1px solid transparent;
    box-shadow: #575757;
  }
  .menu button .fa-regular {
    position: relative;
    right: 15px;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 20px;
  }
  .menu button .fa-list {
    position: relative;
    right: 10px;
    color: grey;
    color: #8a2be2;
  }
  .menu button .fa-store {
    position: relative;
    right: 10px;
    color: #8a2be2;
  }
  .menu button .fa.fa-mobile-screen {
    position: relative;
    right: 10px;
    color: grey;
    color: #8a2be2;
  }
  h2 {
    text-align: center;
  }
  .new {
    display: none;
  }
  #bloc-photos-restau {
    text-align: center;
  }
  #bloc-photos-restau a {
    text-decoration: none;
    color: black;
  }
  #bloc-photos-restau .first-para-title {
    font-weight: 900;
  }
  #bloc-photos-restau img {
    width: 50%;
    height: 400px;
    border-radius: 30px;
  }
  #bloc-photos-restau button {
    position: relative;
    left: 20%;
    bottom: 60px;
    border-style: none;
    background-color: transparent;
  }
  #foot {
    background-color: #575757;
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 10px;
  }
  #foot img {
    width: 40%;
    filter: opacity(1) drop-shadow(0 0 0 white) invert(100%);
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
  #foot span i.fa-solid {
    margin: 5px;
  }
  #foot a {
    text-decoration: none;
    color: white;
  }
  /* pages restau */
  .div-img-pages-restau {
    text-align: center;
  }
  .div-img-pages-restau img {
    width: 70%;
  }
  i.fas.fa-heart {
    position: relative;
    left: 10%;
    transition: all 2s;
  }
  i.fas.fa-heart:hover {
    cursor: pointer;
    color: #8a2be2;
  }
  .description-menu {
    -webkit-animation: show 3s ease forwards 4s;
            animation: show 3s ease forwards 4s;
  }
  .description-menu .fa-regular.fa-heart {
    position: relative;
    left: 10%;
  }
  .div-description-menu {
    border: 1px solid transparent;
    margin-bottom: 5%;
    border-radius: 10px;
    height: 80px;
    box-shadow: 2px 2px rgb(227, 244, 238);
    width: 100%;
    transition-property: width;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    overflow: hidden;
    transition: width 0.3s linear;
  }
  .div-description-menu i.fa-solid.fa-circle-chevron-down {
    transition: transform 0.3s linear;
    color: white;
  }
  .div-description-menu:hover {
    width: 95%;
    overflow: visible;
  }
  .div-description-menu:hover .fa-solid.fa-circle-chevron-down {
    transform: rotate(360deg);
  }
  .div-description-menu .appear {
    background-color: rgb(135, 208, 135);
    width: 5%;
    position: relative;
    left: 100%;
    bottom: 140px;
    height: 80px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .div-description-menu .appear i {
    position: relative;
    left: 25%;
    top: 25%;
  }
  .div-description-menu .price {
    width: 10%;
    position: relative;
    left: 90%;
    bottom: 40px;
  }
  @-webkit-keyframes show {
    0% {
      transform: scale(0);
      opacity: 0.3;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes show {
    0% {
      transform: scale(0);
      opacity: 0.3;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
}/*# sourceMappingURL=style.css.map */