 $nuance: 900;


 /* mobiles */

@media screen and (min-width: 320px) and (max-width: 767px) {
 body{
      font-family: 'roboto', sans-serif; 
      }

       #logo-restaurant img{
        width: 50%;
        margin-left: 25%;
        font-family: 'Shrikhand', sans serif;
      }
      
      #presentation{
        display: none;
      }

      .explore{
        display: flex;
        flex-direction: column;
        margin-bottom: 20%;
      }
      
     #first-para{
      font-size: 25px;
      text-align: center;
      font-weight: $nuance;
      width: 80%;
      margin-left: 10%;
     }


      #search{
        width: 100%;
        text-align: center;
        font-weight: $nuance;
        font-family: FontAwesome, "Roboto", sans-serif;
        border: transparent;
        background-color: #e4d5f7;
        height: 40px;
      
      &::placeholder{
        color: black;
      }

    }
.new{
position: absolute;
color: green;
background-color: rgb(12, 249, 12);
left: 70%;
top: 5%;
}

      .p-dec{
        font-size: 15px;
        margin-left: 25px;
        position: relative;
        bottom: 20px;
      }
      .boutons-principaux{
        padding: 10px;
        border-radius: 20px;
        color: white;
        background-color: rgb(177, 122, 205);
        border: 1px solid transparent;
        box-shadow: 1px 1px 1px 1px rgb(179, 179, 189);
        width: 70%;
        margin-left: 15%;
        position: relative;
        bottom: 20px;
      }

    .menu{
      display: flex;
      flex-direction: column;
      margin-bottom: 20%;
      

      & button{
        border-radius: 20px;
        margin-bottom: 15px;
        height: 70px;
        font-weight: $nuance;
        border: 1px solid transparent;
        box-shadow: #575757;
        margin-left: 2%;

        & .fa-regular{
          position: relative;
          right: 40px;
          border: 1px solid transparent;
          padding: 4px;
          border-radius: 20px;
          background-color: #8a2be2;
          color: white;

          & i.fa-regular.fa-2{
            right: 50px;
          }
        }
& i.fa-regular.fa-2{
            right: 50px;
          }

        & .fa-list{
          position: relative;
          right: 30px;
          color: grey;
        }
         .fa-store{
          position: relative;
          right: 20px;
          color:#8a2be2;
         }

        & .fa.fa-mobile-screen{
          position: relative;
          right: 20px;
          color: grey;
        }
      }
    }


  


#bloc-photos-restau{
background-color: rgb(216, 248, 238);
margin-bottom: 20%;
  & a{
    text-decoration: none;
    color: black;
  }

  & .box-image{
    border-radius: 20px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    box-shadow:2px 2px  rgb(189, 189, 206);
    position: relative;
    background-color: white;

    & .first-para-title{
      font-weight: $nuance;
    }
  }
  & p{
    height: 10px;
  }

  & img{
        width: 100%;
        height: 200px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;

        
      }  
      & button{
        position: relative;
        left: 80%;
        bottom: 50px;
        border-style: none;
        background-color: transparent;
        
      }
    }
    #foot{
      background-color: #575757;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 10px;

      & img{
        width: 40%;
        filter: opacity(1) drop-shadow(0 0 0 white) invert(100%);
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
      }

      & span{
        margin-left: 5px;

        & i.fa-solid{
          margin: 5px;
        }
        
        
      }

     & #mentions{
          margin-left: 10px;
        }

      & a{
        text-decoration: none;
        color: white;
        margin-left: 5px;
      }
    }

    /* pages restau */ 
i.fa-solid.fa-arrow-left{
  color: black;
}

.logo-page-one{
  display: flex;
  flex-direction: row;
}
.div-img-pages-restau{
  height: 300px;

  & img{
    width: 100%;
    height: 100%;
  }
}
hr{
  height: 1px;
  background-color: aqua;
  width: 10%;
  position: relative;
  right: 45%;
}
.description-menu{
  background-color: rgb(236, 246, 246);
  position: relative;
  bottom: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  & h2{
    padding-top: 5%;
    padding-left: 3%;
  }

& .fa-regular{
  margin-left: 10%;
}

  

  & .div-description-menu{
    background-color: white;
    border: 1px solid transparent;
    margin-bottom: 5%;
border-radius: 20px;
height: 80px;
box-shadow:2px 2px rgb(227, 244, 238);

& .deuxieme-para{
  position: relative;
  bottom: 20%;
  font-size: 10px;
  width: 85%;
}
& .para-description-menu{
  font-weight: $nuance;
}
& .price {
  font-weight: $nuance;
  position: relative;
  left: 90%;
  bottom: 55px;
  width: 10%;
}

  }
}
.divbouton{
  position: relative;
  bottom: 50px;
}

}

/* tablette */ 
@media screen and (min-width: 768px) and (max-width: 1023px) {

  #presentation{
    font-size: 10px;
    font-weight: $nuance;
  }
  #first-para{
    text-align: center;
    font-size: 25px;
    
  }
  #p-dec{
    text-align: center;
    color: rgb(131, 124, 124);
  }

#image-pages-restau{
  width: 100%;
}


#logo-restaurant{
  position: relative;
  left: 25%;
  width: 70%;
}


#formulaire{
  & #search{
    width: 100%;
    text-align: center;
    font-weight: $nuance;
  }
  input::placeholder{
  color:black;
}
  
}

.explore{
        display: flex;
        flex-direction: column;
      }

      .new{
        display: none;
      }

.menu{
display: flex;
flex-direction: row;
justify-content: space-between;


& button{
        border-radius: 20px;
        margin-bottom: 15px;
        height: 70px;
        font-weight: $nuance;
        border: 1px solid transparent;
        box-shadow: #575757;

        & .fa-regular{
          position: relative;
          right: 15px;
          border: 1px solid transparent;
          padding: 5px;
          border-radius: 20px;
          
        }
        & .fa-list{
          position: relative;
          right: 10px;
          color: grey;
          color: #8a2be2;
        }
         .fa-store{
          position: relative;
          right: 10px;
          color:#8a2be2;
         }

        & .fa.fa-mobile-screen{
          position: relative;
          right: 10px;
          color: grey;
          color: #8a2be2;
        }
      }
}





.box-image{
  & img{
    height: 500px;
  }
}


.description-menu{
background-color: rgb(236, 246, 246);
  position: relative;
  bottom: 100px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  & h2{
    text-align: center;
  }
  & .fa-regular{
    position: relative;
    left: 10%;
  }
}

.box-image{
width: 90%;
margin-left: 5%;

  & img{
    width: 100%;
    
  }
  & button{
    position: relative;
    left: 90%;
    bottom: 60px;
    border-style: none;
  }
   & a{
    text-decoration: none;
    color: black;
   }
}


.div-description-menu{
background-color: white;
    border: 1px solid transparent;
    margin-bottom: 5%;
border-radius: 20px;
height: 80px;
box-shadow:2px 2px rgb(227, 244, 238);



  & .price{
    width: 10%;
    position: relative;
    left: 90%;
    bottom: 40px;
  }
}


.boutons-principaux{
        padding: 10px;
        border-radius: 20px;
        color: white;
        background-color: rgb(177, 122, 205);
        border: 1px solid transparent;
        box-shadow: 1px 1px 1px 1px rgb(179, 179, 189);
        margin-left: 10%;
        margin-right: 10%;
        
}



#foot{
      background-color: #575757;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 10px;

      & img{
        width: 40%;
        filter: opacity(1) drop-shadow(0 0 0 white) invert(100%);
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
      }

      & span{
        

        & i.fa-solid{
          margin: 5px;
        }
      }

      & a{
        text-decoration: none;
        color: white;
      }
    }
.divbouton{
  position: relative;
  bottom: 60px;
  text-align: center;
}


}


/* écrans larges */ 


@media screen and (min-width: 1024px)  {

#logo-restaurant{
text-align: center;
}



#formulaire{
  & #search{
width: 100%;
text-align: center;
font-weight: $nuance;
  }
input::placeholder{
  color:black;
}
  
}



#first-para{
  font-size: 40px;
  text-align: center;
}
.p-dec{
  text-align: center;
  font-size: 20px;
}



.boutons-principaux{
        padding: 10px;
        border-radius: 20px;
        color: white;
        background-color: rgb(177, 122, 205);
        border: 1px solid transparent;
        box-shadow: 1px 1px 1px 1px rgb(179, 179, 189);
        position: relative;
        left: 40%;
        width: 20%;
    }



    .menu{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

h2{
  text-align: center;
}

.new{
  display: none;
}

    #bloc-photos-restau{
text-align: center;
      & a{
        text-decoration: none;
        color: black;
      }

      & img{
        width: 50%;
height: 400px;
      }

      & button{
        position: relative;
        left: 20%;
        bottom: 60px;
        border-style: none;
      }
    }


      #foot{
        background-color: #575757;
      color: white;
      display: flex;
      flex-direction: column;
      font-size: 10px;

      & img{
        width: 40%;
        filter: opacity(1) drop-shadow(0 0 0 white) invert(100%);
        margin-bottom: 20px;
        margin-left: 10px;
        margin-top: 10px;
      }

      & span{
        

        & i.fa-solid{
          margin: 5px;
        }
      }
& a{
        text-decoration: none;
        color: white;
      }

      }
    

/* pages restau */

 .div-img-pages-restau{
text-align: center;
  & img{
    width: 70%;
  }
}

I.fa-regular.fa-heart{
  position: relative;
  left: 10%;
}


.div-description-menu{
background-color: white;
    border: 1px solid transparent;
    margin-bottom: 5%;
border-radius: 20px;
height: 80px;
box-shadow:2px 2px rgb(227, 244, 238);



  & .price{
    width: 10%;
    position: relative;
    left: 90%;
    bottom: 40px;
  }
}



}